*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
}
.container{
    max-width: 1115px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.header{
    background-color: #F9F6F1;
    padding-top: 50px;
}
.flex{
    display: flex;
    justify-content: center;
background-color: #F9F6F1;
}
.for__div{
    align-items: center;
 
}

.for__who{ 
    margin-right: 45px;
text-decoration: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #212121;
}
.logo__img{
margin: 0 100px 0 101px;
}

.three{
 margin: 0;
}
.four{
    margin-right: 35px;
}
.five{
    margin-right: 101px;
    
}
.bucket{
    cursor:pointer;
    margin-right: 15px;
}
.thing__five{
    cursor:pointer;
}

.title__winter{
    margin-top: 172px;
    margin-bottom: 35px;
    font-family: Montserrat;
font-style: normal;
font-weight: 100;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.02em;

color: #000000;
}

.sales__sales{
    margin-bottom: 55px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 67px;
letter-spacing: 0.04em;

color: #000000;
}
.button{

    background: #D7B399;
    border:none;
    cursor:pointer;
}

.buttom__primary{
    color: white;
    padding: 17px 30px;
}
.section__sales{
padding-bottom: 70px;
    justify-content: space-between;
    background-color: #F9F6F1;
}
.krosovok{
    margin-top: 138px;
}


.krosovok__inside{
    position: relative;
}
.first__price{
    position: absolute;
left: 445px;
bottom: 308px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: right;
letter-spacing: 0.05em;
text-decoration-line: line-through;
text-transform: uppercase;

color: #000000;
}
.section__price{
    position: absolute;
    left:393px;
    bottom: 243px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 51px;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #D84033;
}
.rectangle{
margin-top: 130px;

}
.rec{
    margin-right: 15px;
}
.section__delivery{
    padding-top: 80px;
    padding-bottom: 69px;
    text-align: center;
    background-color: #212121;
}

.title__delivery{
    margin-bottom: 23px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.txt__delivery{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;

    color: #FFFFFF;
}
span{
    font-weight:100;
}


.collection__man{
    padding-left: 36px;
width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: #F9F6F1;
}
.collection__woman{
  padding-left: 36px;
    justify-content: flex-start;
    background-color: #F4F4F4;
}
.tittle__man{
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.03em;

color: #000000;
}
.collection__txt{
    margin-bottom: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}

.button__collection{
    padding: 15px 30px;
}
.man__collection{
    margin-left: 19px;
    margin-top: 80px;
}
.wo_man{
    display: flex;
}
.all__dresses{
 
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}
.txt__dressgray{

    padding-top: 186px;
    padding-left: 30px;
    width: 277px;
    height: 236px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    background: url(../img/dresstwo.png);
}
.txt__dressbrown{
    padding-top: 186px;
    padding-left: 30px;
    width: 277px;
    height: 236px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    background: url(../img/dressone.png);
}
.new__cocdress{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #212121;
}
.all__dress{
    display: flex;
    justify-content: center;
}
.really__dress{
    margin-right: 30px;
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 4px solid #D7B399;
   box-shadow: 0 0 0 4px white;
   border-width: 20; */
}


.tittle__cocdress{
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}
.price__cocdress{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #D7B399;
 
    }

    .all__dress{
        display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}
    
    .really__dress:last-child{
        margin-right: 0;
    }
    .really__dress {
       
        width: 255px;
        height: 350px;
        position: relative;
        border: 3px solid #D7B399;;
        transition: all .3s ease;
    
    }
    .really__dress:before, 
    .really__dress:after {
        content: "";
        z-index:1 ;
        display: block;
        position: absolute;
        background: rgb(255, 255, 255);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
    }
    .really__dress:before {
        width: calc(100% + 7px);
        height: 80%;
        transition: height 0.6s;
    }
    .really__dress:after {
        height: calc(100% + 11px);
        width: 75%;
        transition: width 0.6s;
    }
    .really__dress:hover:before, 
    .really__dress:focus:before {
        height: 0%;
    }
    .really__dress:hover:after, 
    .really__dress:focus:after {
        width: 0%;
    }
    .dress__and_txt {
        
        position: relative;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
       z-index:999;
        z-index: 2;
        position: relative;
   
    }

.b__three{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 103px;
    margin-bottom: 150px;
    padding: 18px 64px 17px 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-image: url(../img/Arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 165px;
    background-position-y: center;
}

.sales__div{
    padding-top: 72px;
    padding-bottom: 71px;
    display: flex;
    justify-content: center;
    background-color: #212121;
}

.tittle__sales{
   
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
}
.b__four{
    padding: 12px 30px;
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;

color: #FFFFFF;
}
  .emailAddress{
      max-width: 255px;
      width: 100%;
      margin: 0 35px 0 65px;
      border:none;
      outline:none;
      padding-left: 30px;
background: #F9F6F1;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;

color: #8D8D8D;
  }

  /* .footer__txt{
      max-width: 200px;
      width: 100%;
  }
  */
  
  .section_footer {
    margin-top: 150px;
}

.footer_upper {
    display: flex;
    justify-content: center;
    background: #212121;
    padding: 70px 0;
}

.about_company .logo_container {
    margin: 0 0 32px 0;
}

.about_company .logo_text {
    color: #FFFFFF;
}

.about_company_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    width: 210px;
    color: #FFFFFF;
}

.main_text {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.secondary_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    transition: all .3s;
}

.soc_imgs {
    transition: all .3s;
}

.soc_imgs:hover {
    transform: scale(1.5);
}

.secondary_text:hover {
    filter: drop-shadow(0 0 5px silver);
    transform: scale(1.5);
}
.link{
    text-decoration: none;
}
.footer_link {
    transition: all .3s;
}

.footer_link:hover {
    color: wheat;
}

.secondary_text a {
    color: #CBCFD4;
}

.about_company {
    margin-right: 224px;
}

.main_links {
    margin-right: 84px;
}

.categories {
    margin-right: 76px;
}

.useful_links {
    margin-right: 53px;
}

.social-logo {
    margin-right: 5px;
}

.footer_copyright {
    display: flex;
    justify-content: space-around;
    padding: 27px 0;
}

.footer_bottom_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}
/* .copyright {
    padding-top: 30px;
    padding-bottom: 23px;
} */
.container__copyright {
    display: flex;
    justify-content: space-between;
}
.copyright__text {
    font-size: 14px;
    line-height: 22px;
    color: #212121; 
}
.privat__pol__link {
    text-decoration: none;
}

/* адаптация */
@media(max-width:1100px){
    .container{
     width: 80%;
     
    }
    .collection__man{
        justify-content: center;
        width: 100%;
    }
    .wo_man{
       
        flex-wrap: wrap;
    }
    
    .all__dress{
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        max-width: 554px;
        
    } 
    .really__dress{
        margin-right: 0;
        margin-bottom: 20px;
        /* margin-right: 20px; */
    }
    .one__dress{
        margin-right: 20px;
    }
    .three__dress{
        margin-right: 20px;
    }
}
@media(max-width:1000px){

    .all__kross {
        width: 100%;
    }
    .salesandgift{
        display: block;
    }
    .sales__div{
        display: block;
        text-align: center;
    }
    .about_company{
        margin-left: 20px;

    }
    .tittle__sales{
        margin-bottom: 20px;
    }
    .emailAddress{
        margin: 0;
        margin-right: 20px;
        padding: 14px 164px 13px 20px;
    }
    .useful__footer{
        display: none;
    }
}
@media(max-width:950px){
    .main_links {
        display: none;
    }
    .categories {
        display: none;
    }
   
}
@media(max-width:850px){
    .header{
        padding-bottom: 20px;
    }
    .logo__img{
        margin: 0;
        margin-right: 100px;
    }
.section__sales{
    display: none;
}
.men{
    display: none;
}
.main_links .categories .socials{
    display: none;
}
}
@media(max-width:690px){
     .all__dress{
        width: 50%;
     }
     .one__dress{
        margin-right: 0px;
    }
    .three__dress{
        margin-right: 0px;
    }
      
}
@media(max-width:600px){
    .for__who{
        display: none;
    }
    .about_company{
        margin-left: auto;
        margin-right: auto;

    }
    .socials {
        display: none;
    }
}
@media(max-width:495px){
    .logo__img{
        margin: 0px;
    }

    .bucket{
        display: none;
    }
    .thing__five{
        display: none;
    }
}
@media(max-width:454px){
   .container{
       margin: 0;
   }
    
    .man__collection{
        display: none;
    }
    .emailAddress{
        margin: 0;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 14px 164px 13px 20px;
    }
    .politics{
        display: none;
    }
}
